@import "../../styles/variables.scss";

.container {
   
        width: 100vw;
        height: 100vh;
        height: 94vh; /*account for header */
        // position: absolute;
        top:8.5vh;
        // margin: 2vh auto; /* keep?*/
        display: grid;
        padding: 0 0.4rem 0.2rem 0.4rem;
        // border: 1px solid yellow;
        // grid-template-columns: 1fr 2fr;
        grid-template-columns: 1fr;
        grid-template-rows: 8vh 40vh 46vh; // divided by 94
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        background: $primary-mistgrey;
        border-radius: 6px;
    
        position: absolute;
        z-index: 100;
}


/*************************************************/
/************* iPad and larger  ******************/
/*************************************************/

@media screen and (min-width: 768px) {

    .container {
        width: 80vw;
        height: 80vh;
        margin: 2vh auto;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 15vh 65vh;
        border-radius: 6px;
        box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.5);
    }
}