@import "../../styles/variables.scss";

.container {
    grid-row: 3;
    grid-column: 1;
    overflow: hidden;
    text-align: right;
    border-radius: 6px;
    box-shadow: inset 0px 4px 9px 0px rgba(0, 0, 0, 0.418);
    margin: 0 0.5rem;
    // background: rgb(241, 234, 221);
    background: #f1f1f1;
    // background: wheat;
    color: $primary-midnightblue;
    
    position: relative; //?
    
    h2.selected-date {
        position: absolute;
        font-size: 1rem;
        color: rgba(0, 0, 0, 0.4); // (alternative)
        color: $primary-mistgrey;
        right: 1rem;
        top: 1rem;
    }
    
    .evts-frame {
        margin-top: 7px;
        padding: 0.5rem;
        padding-top: 3vh;
        text-align: left;
        background: transparent;
        height: 46vh; // don't use 100%!!
        overflow: scroll; // DONT TOUCH!

        color: $primary-midnightblue; // keep?
        li {
            padding-left: 1vw;
            position: relative; // DON'T TOUCH!
            // border: 1px dashed purple;
        }
    }
}