@import "../../styles/variables.scss";




.container {
    background: transparent;
    border-radius: 5px;
  
    overflow: hidden;
    padding: 0;
    margin: 0;

    &>button {
        border-width: 0;
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;
        outline: none;
        display: grid;
        background: transparent;
        font-size: 0.8rem;
        position: relative;        
        text-align: center;
        & div {
            color: $primary-midnightblue;
            margin: auto;
            padding: 0;
            font-size: 0.8rem;
        }

        & p {
            font-size: 0.01rem;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            overflow: hidden;
            margin-bottom: 0;

             position: absolute;
            top: 75%; /* distance from number*/
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .day-number {
        width: 32px;
        display: block;
        height: 30px;
        color: $primary-midnightblue;
        margin: auto;
        font-weight: 400;
    }

    .current-date {
        // background: rgba(251, 218, 218, 0.1);
        // color: #fff;

        &>p {
            font-weight: 600;
        }
        
        &>.day-number {
            opacity: 1;
            font-weight: bold;
           text-shadow: rgba(255, 255, 255, 0.65) 1px 1px 1px;
        }
    }

    /********THESE STYLES ARE FED INTO 
*  CLASSNAMES FROM DATA 
*******************/
    .gameClass {
        color: #fff;
        background: $primary-midnightblue;
    }

    .show {
        color: #000;
        background: $primary-midnightblue;
    }

    .meeting {
        color: #000;
        background: $primary-midnightblue;
    }

    .party-class {
        color: #000;
        background: $primary-midnightblue;
    }

    .chess-beginner {
        color: #252525;
        background: $primary-midnightblue;
    }

    .robotics-beginner {
        color: #000;
        background: $primary-midnightblue;
    }

    .chess-intermediate {
        color: #252525;
        background: $primary-midnightblue;
    }

    .chess-advanced {
        color: #252525;
        background: $primary-midnightblue;

    }

    .oilpainting-beginner {
        color: #ffffff;
        background: $primary-midnightblue;
    }

    .party-private {
        color: #eee;
        background: $primary-midnightblue;
    }
}

/*************************************************/
/************* iPad and larger  ******************/
/*************************************************/

@media screen and (min-width: 768px) {
    .container {
        background: transparent;
        border-radius: 6px;
        font-weight: 100;
        color: $primary-midnightblue;
        padding: 2px;
        background: rgba(255, 255, 255, 0.1);
        margin: 1px;
        display: flex;

        &:hover {
            background: rgba(255, 255, 255, 0.3);
            cursor: pointer;
        }

        &>div {
            width: 100%;
            height: 100%;
            position: relative;
            display: flex;
            flex-direction: column;
            align-content: flex-end;

            &:focus {
                outline: 1px solid rgba(231, 231, 231, 0.7);
            }

            p {
                border-radius: 2px;
                font-size: 0.55rem;
                margin: 0;
                line-height: normal;
                font-weight: 300;
                text-align: center;
                opacity: 0.6;
                height: 0.65rem;
                color: transparent;
                width: 100%;
                display: block;

                // align-self: end;
                &:first-of-type {
                    margin-top: 5vh;
                }
            }

            &:hover {
                &>p {
                    font-size: 0.57rem;
                    font-weight: 400;
                    opacity: 1;

                }
            }
        }

        .day-number {
            width: 32px;
            position: absolute;
            top: 0;
            left: 0;
            height: 30px;
            color: $primary-magenta;
            border-radius: 6px;
            box-shadow: inset -1px -1px 0px 0px $primary-midnightblue;
        }

        .current-date {
            background: rgba(101, 197, 235, 0.4);

            &>p {
                font-weight: 500;
                opacity: 1;
                // color: #fff;
            }

            &>.day-number {
                font-weight: 400;
                background: rgba(102, 102, 102, 0.1);
            }
        }
    }

}