@import "../../styles/variables.scss";




.container {
    background: transparent;
    border-radius: 5px;
  
    overflow: hidden;
    padding: 0;
    margin: 0;

    &>button {
        border-width: 0;
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;
        // border: 1px solid coral;
        outline: none;
        display: grid;
        color: #fff;

        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        // background: rgba(239, 133, 253, 0.5);
        background: transparent;
        font-size: 0.8rem;
        text-align: center;

        &>div {
            color: #fff;

            grid-row: 1;
            grid-column: 2;
            // outline: 1px solid black;
            padding: 0;
            margin: 0;
            font-size: 0.8rem;
        }

        &>p {
            // color: maroon;
            // outline: 1px solid pink;
            padding: 0;
            margin-bottom: 0;
            margin: 0 auto;
            margin-top: -3px;
            font-size: 0.01rem;
            display: block;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            overflow: hidden;
            // box-shadow: 1px 1px 2px 0px rgb(36, 36, 36);

            box-shadow: 1px 1px 2px 0px #000;

            // position: absolute;
            // top: 50%;
            // left: 50%;
            // transform: translateX(-50% -50%);
        }
    }

    .day-number {
        width: 32px;
        display: block;
        height: 30px;
        color: #cccccc;
        margin: auto;
        font-weight: 400;
        // border-radius: 5px;
        // box-shadow: inset -1px -1px 0px 0px $primary-midnightblue;
    }

    .current-date {
        // background: rgba(251, 218, 218, 0.1);
        // color: #fff;

        &>p {
            font-weight: 500;
        }
        
        &>.day-number {
            opacity: 1;
            font-weight: 600;
            color: #fff;
            // filter: drop-shadow(2px 2px 4px 3px red);
            text-shadow: #fff 1px 0 10px;
            // background: rgba(102, 102, 102, 0.1);
        }
    }

    /********THESE STYLES ARE FED INTO 
*  CLASSNAMES FROM DATA 
*******************/
    .gameClass {
        color: #fff;
        background: $secondary-weborange;
    }

    .show {
        color: #000;
        background: $secondary-internatorange;
    }

    .meeting {
        color: #000;
        background: $secondary-weborange;
    }

    .party-class {
        color: #000;
        background: $secondary-daisybushpurple;
    }

    .chess-beginner {
        color: #252525;
        background: lighten($secondary-weborange, 30%);
    }

    .robotics-beginner {
        color: #000;
        background: #6ed1a8;
    }

    .chess-intermediate {
        color: #252525;
        background: lighten($secondary-weborange, 15%);
    }

    .chess-advanced {
        color: #252525;
        background: lighten($secondary-weborange, 0%);

    }

    .oilpainting-beginner {
        color: #ffffff;
        background: $secondary-daisybushpurple;
    }

    .party-private {
        color: #eee;
        background: royalblue;
    }
}

/*************************************************/
/************* iPad and larger  ******************/
/*************************************************/

@media screen and (min-width: 768px) {
    .container {
        background: transparent;
        border-radius: 5px;
        font-weight: 100;
        color: $primary-midnightblue;
        padding: 2px;
        background: rgba(255, 255, 255, 0.1);
        margin: 1px;
        display: flex;

        &:hover {
            background: rgba(255, 255, 255, 0.3);
            cursor: pointer;
        }

        &>div {
            width: 100%;
            height: 100%;
            position: relative;
            display: flex;
            flex-direction: column;
            align-content: flex-end;

            &:focus {
                outline: 1px solid rgba(231, 231, 231, 0.7);
            }

            p {
                border-radius: 2px;
                font-size: 0.55rem;
                margin: 0;
                line-height: normal;
                font-weight: 300;
                text-align: center;
                opacity: 0.6;
                height: 0.65rem;
                color: transparent;
                width: 100%;
                display: block;

                // align-self: end;
                &:first-of-type {
                    margin-top: 5vh;
                }
            }

            &:hover {
                &>p {
                    font-size: 0.57rem;
                    font-weight: 400;
                    opacity: 1;

                }
            }
        }

        .day-number {
            width: 32px;
            position: absolute;
            top: 0;
            left: 0;
            height: 30px;
            color: $primary-magenta;
            border-radius: 5px;
            box-shadow: inset -1px -1px 0px 0px $primary-midnightblue;
        }

        .current-date {
            background: rgba(101, 197, 235, 0.4);

            &>p {
                font-weight: 500;
                opacity: 1;
                // color: #fff;
            }

            &>.day-number {
                font-weight: 400;
                background: rgba(102, 102, 102, 0.1);
            }
        }
    }

}