@import "../../styles/variables.scss";

.container {
    background: transparent;
    border-radius: 5px;
    font-weight: 100;
    color: $primary-midnightblue;
    padding: 2px;
    background: rgba(255, 255, 255, 0.1);
    margin: 1px;

    &:hover {
        background: rgba(255, 255, 255, 0.3);
        cursor: pointer;
    }

    &>div {
        width: 100%;
        height: 100%;

        &:focus {
            outline: 1px solid rgba(231, 231, 231, 0.7);
        }

        p {
            border-radius: 2px;
            font-size: 0.55rem;
            margin: 0.1rem auto;
            line-height: normal;
            font-weight: 300;
            text-align: center;
            opacity: 0.6;
            height: 15%;
        }

        &:hover {
            &>p {
                font-size: 0.57rem;
                font-weight: 400;
                opacity: 1;

            }
        }
    }

    .day-number {
        width: 32px;
        display: block;
        height: 30px;
        color: $primary-magenta;
        border-radius: 5px;
        box-shadow: inset -1px -1px 0px 0px $primary-midnightblue;
    }

    .current-date {
        background: rgba(163, 163, 163, 0.3);

        &>p {
            font-weight: 500;
            opacity: 1;
            // color: #fff;
        }

        &>.day-number {
            font-weight: 400;
            background: rgba(102, 102, 102, 0.1);
        }
    }

    /********THESE STYLES ARE FED INTO 
*  CLASSNAMES FROM DATA 
*  THEY DO NOT CONFORM TO CSS MODULES RULES, SO THEY ARE PLACED HERE
*******************/
    .gameClass {
        color: #fff;
        background: $secondary-weborange;
    }

    .show {
        color: #000;
        background: $secondary-internatorange;
    }

    .meeting {
        color: #000;
        background: $secondary-weborange;
    }

    .party-class {
        color: #000;
        background: $secondary-daisybushpurple;
    }

    .chess-beginner {
        color: #252525;
        background: lighten($secondary-weborange, 30%);
    }
    .robotics-beginner {
        color: #000;
        background: #6ed1a8;
    }

    .chess-intermediate {
        color: #252525;
        background: lighten($secondary-weborange, 15%);
    }

    .chess-advanced {
        color: #252525;
        background: lighten($secondary-weborange, 0%);

    }

    .oilpainting-beginner {
        color: #ffffff;
        background: $secondary-daisybushpurple;
    }

    .party-private {
        color: #eee;
        background: royalblue;
    }
}