.container {
    background: transparent;
    border-bottom-width: 0;
    border-right-width: 0;
    font-weight: 100;
    color: var(--primary-midnightblue);
    padding: 2px;
    background: rgba(255, 255, 255, 0.1);
    margin: 1px;
    &:hover {
        background: rgba(255, 255, 255, 0.3);
        cursor: pointer;
    }

    &>div {
        width: 100%;
        height: 100%;
        p {
            border-radius: 2px;
            font-size: 0.5rem;
            margin: 0.1rem auto;
            line-height: normal;
            font-weight: 300;
            text-align: center;
            opacity: 0.6;
            height: 15%;
        }
        &:hover {
            & > p {
                font-size: 0.52rem;
                font-weight: 400;
                opacity: 1;
    
            }
        }
    }
    .day-number {
        width: 32px;
        display: block;
        height: 30px;
        color: var(--primary-magenta);
        box-shadow: inset -1px -1px 0px 0px var(--primary-midnightblue);
    }
    .current-date {
        background: rgba(163, 163, 163, 0.3);
        & > p {
            font-weight: 500;
            opacity: 1;
            color: #fff;
        }        
        & > .day-number {
            font-weight: 400;
            background:rgba(102, 102, 102, 0.1);
        }
    }
}

.test {
    color: #f0f0f0;
}