@import "../../styles/variables.scss";

.container {
      grid-row: 3;
      grid-column: 1;
      .evts-frame {
          background: pink;
          height: 43vh;  // don't use 100%!!
          overflow: scroll;
      }
}