.panelevents-container { // ul
    padding: 2%;
    background: wheat;
    border-radius: 6px; 
    height: 100%;
    width: 100%;
    padding-top: 2vh;
    opacity: 0.5;
    text-align: left;
    
    overflow: scroll;

    position: relative; //?
    
    // -webkit-overflow-scrolling: touch;
    height: 51vh;
    width: 97vw;
    li {
        padding-top: 1vh;
        // position: relative;
        border: 2px solid blue;
        width: 97vw;
        h1.evt-title {
            font-size: 1.8rem;
            font-weight: 100;
            color: #575757;
            margin: 1rem auto 0.5rem;
        }

        span {
            // position: absolute;
            bottom: 0;
            right: 2vw;
            text-align: right;
            font-style: oblique;
            font-variant-caps: small-caps;
        }

    }

}