@import "../../styles/variables.scss";

.container {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    grid-row: 3;
    grid-column: 1;
    background:lighten( $primary-robinseggblue, 0% );
    margin: 1%;
    // padding: 1%;
    font-weight: 300;
    box-shadow: inset 0px 4px 6px 0px rgba(0, 0, 0, 0.3);
    max-height: 95%;
    // height: 25vh;
    max-width: 95vw;
    text-align: left;
    border-radius: 5px;
    // overflow-y: auto;
    // -webkit-overflow-scrolling: touch;
    // overflow: auto;
    position: relative;
    height: 100%;
    width: 100%;
    // border: 1px solid white;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    h1 {
        /*dateRef*/
        opacity: 0;
        // height: auto;
        font-weight: 300;
        text-align: center;
        font-style: oblique;
        // margin: 0.5vh auto;
        font-style: normal;
        font-size: 1.8rem;
        // color: $primary-midnightblue;
        color: white;
        transform: translateY(-200px);
        margin-bottom: 1vh;
    }
    .locky {
        width: 100%;
        height: 100%;
        // background: red;
        // border: 2px solid #fff;
        .content {
            padding: 2%;
            // border: 2px solid blue;
            // background: rgba(222, 184, 135, 0);
            height: 100%;
            width: 100%;
            overflow: scroll;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
        }
    }

    &>ul.preview-list {
        opacity: 0;
        transform: translateY(30px);
        opacity: 0;
        font-size: 1rem;
        color: primary-midnightblue;
        padding-left: 0;
        padding: 0 0.5rem 0 0;
        // -webkit-overflow-scrolling: touch;
        // overflow: scroll;

        &>li {
            padding-left: 1vw;
            margin-top: 3vh;

            p {
                font-size: 0.8rem;
            }
        }

        .gameClass {
            color: #fff;
            border: 1px solid $secondary-weborange;
            border-width: 0;
            border-left-width: 2px;
        }

        .show {
            color: #000;
            border: 1px solid $secondary-internatorange;
            border-width: 0;
            border-left-width: 2px;
        }

        .meeting {
            color: #000;
            border: 1px solid $secondary-weborange;
            border-width: 0;
            border-left-width: 2px;
        }

        .party-class {
            color: #000;
            border: 1px solid $secondary-daisybushpurple;
            border-width: 0;
            border-left-width: 2px;
        }

        .chess-beginner {
            color: #fff;
            border: 1px solid lighten($secondary-abbeygrey, 30%);
            border-width: 0;
            border-left-width: 2px;
        }

        .chess-intermediate {
            color: #fff;
            border: 1px solid lighten($secondary-abbeygrey, 15%);
            border-width: 0;
            border-left-width: 2px;
        }

        .chess-advanced {
            color: #fff;
            border: 1px solid lighten($secondary-abbeygrey, 0%);
            border-width: 0;
            border-left-width: 2px;

        }

        .robotics-beginner {
            color: #000;
            border: 1px solid #6ed1a8;
            border-width: 0;
            border-left-width: 2px;
        }


        .oilpainting-beginner {
            color: #ffffff;
            border: 1px solid $secondary-daisybushpurple;
            border-width: 0;
            border-left-width: 2px;
        }

        .party-private {
            color: #eee;
            border: 1px solid royalblue;
            border-width: 0;
            border-left-width: 1px;
        }
    }
}


/*************************************************/
/************* iPad and larger  ******************/
/*************************************************/

@media screen and (min-width: 768px) {

    .container {
        // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        grid-row: 2;
        grid-column: 1;
        background: lighten($primary-robinseggblue, 0%);
        // background: #fff;
        margin: 1%;
        padding: 1%;
        font-weight: 300;
        overflow: hidden;
        box-shadow: inset 0px 4px 6px 0px rgba(0, 0, 0, 0.3);
        max-height: 95%;
        text-align: left;
        overflow: auto;
        // border: 2px dashed coral;
        border-radius: 5px;

        &>h1 {
            /*dateRef*/
            opacity: 0;
            font-weight: 100;
            text-align: center;
            font-style: oblique;
            font-size: 2rem;
            color: $primary-midnightblue;
            transform: translateY(-200px);
        }

        &>ul.preview-list {
            opacity: 0;
            transform: translateY(30px);
            opacity: 0;
            font-size: 1rem;
            color: primary-midnightblue;
            padding-left: 0;

            &>li {
                padding-left: 0.5vw;
                margin-top: 3vh;
            }

            .gameClass {
                color: #fff;
                border: 1px solid $secondary-weborange;
                border-width: 0;
                border-left-width: 2px;
            }

            .show {
                color: #000;
                border: 1px solid $secondary-internatorange;
                border-width: 0;
                border-left-width: 2px;
            }

            .meeting {
                color: #000;
                border: 1px solid $secondary-weborange;
                border-width: 0;
                border-left-width: 2px;
            }

            .party-class {
                color: #000;
                border: 1px solid $secondary-daisybushpurple;
                border-width: 0;
                border-left-width: 2px;
            }

            .chess-beginner {
                color: #fff;
                border: 1px solid lighten($secondary-abbeygrey, 30%);
                border-width: 0;
                border-left-width: 2px;
            }

            .chess-intermediate {
                color: #fff;
                border: 1px solid lighten($secondary-abbeygrey, 15%);
                border-width: 0;
                border-left-width: 2px;
            }

            .chess-advanced {
                color: #fff;
                border: 1px solid lighten($secondary-abbeygrey, 0%);
                border-width: 0;
                border-left-width: 2px;

            }

            .robotics-beginner {
                color: #000;
                border: 1px solid #6ed1a8;
                border-width: 0;
                border-left-width: 2px;
            }


            .oilpainting-beginner {
                color: #ffffff;
                border: 1px solid $secondary-daisybushpurple;
                border-width: 0;
                border-left-width: 2px;
            }

            .party-private {
                color: #eee;
                border: 1px solid royalblue;
                border-width: 0;
                border-left-width: 1px;
            }
        }
    }
}