@import '../styles/variables.scss';

.container {
    border: 2px solid red;
    // position: fixed;
    // top: 0;
    // left:0;
    // right: 0;
    // bottom:0;
    background-color: #90bdb2;
    height: 100vh;
    overflow-y: hidden;
}