@import '../styles/variables.css';

$img1: url('../images/boy.jpg');
$img2: url('../images/painting.jpg');
$img3: url('../images/meeting.jpg');
$img4: url('../images/girlandrobot.jpg');
$img5: url('../images/twokids.jpg');
$img6: url('../images/women.jpg');
$picW: 50.2vw;
$picH: 50.3vh;

/* mobile values for bg images height & width*/
/* PIC Wm "mobile" ****/
$picWm: 100vw;
$picHm: 40vh;


/**** header row1 ****/
/**** main row2 ****/
/**** footer row3 ****/

main.landing-container {
    
    grid-row: 2;
    text-align: center;
    width: 100vw;
    
    height: 200vh;
    min-height: 100vh;
    /* to adjust for collage images in wide screens*/
    max-width: 1680px;

    /****collage bg ****/    
    background: 
    $img2 0 0 no-repeat,
    $img1 0% 25% no-repeat,
    $img4 0% 50% no-repeat,
    $img5 0% 75% no-repeat,
    $img3 0% 100% no-repeat;
    background-size: $picWm $picHm;

        section.landing-content-container { /* wraps logo, txtbox & button */
        width: 100%;
        margin: 8vh auto;
        text-align: center;
        padding: 2vh auto;
        
        img {
            width: 50%;
            margin: 2vh auto;
        }
        .text-container {
            background: var(--rudy-pink-trans);
            border-radius: 10px;
            width: 90%;
            margin: 8vh auto;            
            text-align: left;
            padding: 1vh 4vw;
            color: white;
            h2 {
                text-align: center;
            }
            p {
                font-size: 1.2rem;
                border-bottom: 0;
            }
        }
        button {
            width: 10vw;
            min-width: 220px;
            height: 8vh;
            background:linear-gradient(180deg,  var(--btn-cta-green) 0%, var(--btn-cta-green) 100%);
            margin: 1vh auto;
            border-radius: 8px;
            border: 1px solid #fff;
            a {
                color: #fff;
                font-size: 1.5rem;
            }
        }
    }
}


/*************************************************/
/************* iPad and larger  ******************/
/*************************************************/

@media screen and (min-width: 768px) {
    main.landing-container {
        /* edit */
        margin-top: 0;

        width: 100vw;
        min-height: 100vh;
        width: 100vw;
        height: 150vh;
        min-height: 100vh;
        background: 
        $img1 100% 0 no-repeat, 
        $img2 0% 0% no-repeat,
        $img3 100% 50% no-repeat,
        $img4 0% 50% no-repeat,
        $img5 100% 100% no-repeat,
        $img6 0% 100% no-repeat;
        background-size: $picW $picH;

        section.landing-content-container { /* wraps logo, txtbox & button */
            width: 80%;
            margin-top: 4vh;
            text-align: center;
            padding: 2vh auto;
            img {
                display: block;
                width: 30%;
                margin: 1vh auto;
            }
            .text-container {
                margin: 2vh auto;
                h2 {
                    font-size: 3rem;
                }
                p {
                    font-size: 1.5rem;
                    line-height: 1.2;
                }
            }
            button {
                margin-top: 1vh;
            }
        }
    }
}
