@import '../styles/variables.css';

.link {
    color: var(--rudy-text);
    font-size: 0.8rem;
    line-height: 1;
    margin: 0 0.5rem 0 0;
    padding: 0.25rem;
    text-decoration: none;
  &.current-page {
    border-bottom: 2px solid #222;
  }
  
  &:last-of-type {
    margin-right: 0;
  }
}


/*************************************************/
/************* iPad and larger  ******************/
/*************************************************/

// @media screen and (min-width: 768px) {
//   .link {
//     color: var(--rudy-text);
//     font-size: 0.8rem;
//     line-height: 1;
//     margin: 0 0.5rem 0 0;
//     padding: 0.25rem;
//     text-decoration: none;
//   &.current-page {
//     border-bottom: 2px solid #222;
//   }
  
//   &:last-of-type {
//     margin-right: 0;
//   }
// }
// }